body {
    background-color: lightgray;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

#msg {
    font-weight: bold;
}